// normalize and fonts scss files are need to be included only once.
@import "./scss/normalize.scss";
@import "./scss/fonts.scss";

@import "./scss/variables.scss";
@import "./scss/mixin.scss";

// Import css libraries
@import "./../node_modules/react-select/scss/components.scss";
@import "./../node_modules/font-awesome/scss/font-awesome.scss";
@import "./../node_modules/leaflet/dist/leaflet.css";


* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $light;
  font-weight: 400;
}
#app > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Scroll bar style */
::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {

}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(187,168,164,0.3);
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  padding-top: $header-height;
  overflow: hidden;

  > div {
    width: 100%;
    height: 100%;

    overflow: hidden;
  }
}

.hidden {
  display: none;
}
.hide {
  opacity : 0;
  transition: opacity 0.15s;
  pointer-events: none;
}
.uppercase {
  text-transform: uppercase;
}
.slide-out {
  left : -100%;
  transition: left 0.15s;
  pointer-events: none;
}

.__react_component_tooltip {
  @include respond-to(handhelds) {
    display: none !important;
  }
  @include respond-to(wide-screens) {
    font-weight: 700;
    font-family: $font-narrow;
  }
}
.solid-button-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  padding: 8px 8px;

  &.no-left-right-padding {
    padding-left: 0;
    padding-right: 0;
  }

  &.double-left-right-padding {
    padding-left: 16px;
    padding-right: 16px;
  }

  .solid-button {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-flex-grow: 1;
            flex-grow: 1;
    padding: 4px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    font-size: $font-size-medium-small;
    font-family: $font-main;
    text-transform: uppercase;

    &.active {
      border: 2px solid $white;
    }

  }
  .solid-button-green {
    color: $green;
    border: 2px solid $green;
    border-right-width: 0;
    &:hover {
      color: $white;
      border-color: $green;
      background-color: $green;
    }
    &:last-child {
      border-right-width: 2px;
    }
  }
  .solid-button-red {
    color: $red;
    border: 2px solid $red;
    border-right-width: 0;
    &:hover {
      color: $white;
      border-color: $red;
      background-color: $red;
    }
    &:last-child {
      border-right-width: 2px;
    }
  }
}

.static-button-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  padding: 8px 8px;

  &.no-left-right-padding {
    padding-left: 0;
    padding-right: 0;
  }

  &.double-left-right-padding {
    padding-left: 16px;
    padding-right: 16px;
  }

  .static-button {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-flex-grow: 1;
            flex-grow: 1;
    padding: 4px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    font-size: $font-size-medium-small;
    font-family: $font-main;
    text-transform: uppercase;
  }
  .static-button-green {
    background-color: $light;
    color: $green;
    border: 2px solid $green;
    border-right-width: 0;
  }
  .static-button-red {
    background-color: $light;
    color: $red;
    border: 2px solid $red;
    border-right-width: 0;
  }
  .static-button-brown {
    background-color: $light;
    color: $brown;
    border: 2px solid $brown;
    border-right-width: 0;
  }
}

.danger-zone {
  font-size: $font-size-small;
  font-family: $font-main;
  margin: 16px 0 0 0;
  font-weight: 700;
  color: $red;
  text-align: center;
}

.error-text {
  font-size: $font-size-small;
  font-family: $font-main;
  margin: 8px 0 0 20px;
  font-weight: 700;
  color: $red;
  text-align: left;

  &.padding-8 {
    margin: 8px 8px 0 8px;
  }
}

.hidden {
  display: none;
}

.brown-medium-multi {
  > .Select {
    > .Select-control {
      height: 32px;
      .Select-placeholder {
        padding: 6px;
        line-height: 32px;
        font-family: $font-main;
        font-size: $font-size-medium;
      }
    }

    > .Select-control {
      .Select-multi-value-wrapper {
        width: 100%;
        .Select-value {
          border-radius: 0;
          margin: 4px 4px;
          background-color: $white;
          color: $brown;
          border-color: $brown;
          @include respond-to(handhelds) {
            width: 92%;
          }
          @include respond-to(wide-screens) {
            width: auto;
          }
          .Select-value-icon {
            border-color: $brown;

            &:hover {
              background-color: $brown-10;
              color: $brown;
            }
          }
          .Select-value-label {
            padding: 4px 6px;
            .tree-flag-name {
              vertical-align: bottom;
              font-size: $font-size-medium;
              font-weight: 400;
              color: $brown;
              font-family: $font-main;
            }
          }
          // for food icon
          .tree-food {
            height: 48px;
            .tree-food-icon {
              width: 10px;
              height: 16px;
              margin-bottom: 0;
              margin-right: 8px;
              margin-left: 4px;
            }
            .tree-food-name {
              vertical-align: top;
              font-size: $font-size-medium;
              font-weight: 700;
              color: $brown;
              font-family: $font-main;
            }
          }
        }
      }
    }

    &.is-disabled {
      .Select-value {
        width: auto !important;
        background-color: $light !important;
        > .Select-value-label{
          > .Select-aria-only {
            display: none;
          }
        }
      }
      .Select-arrow-zone {
        display: none !important;
      }
    }

    .Select-option {
      box-sizing: border-box;
      background-color: $select-option-bg;
      color: $select-option-color;
      cursor: pointer;
      display: block;
      padding: 6px 6px 4px 6px;
      height: 32px;

      .tree-flag-name {
        font-size: $font-size-medium;
        font-weight: 400;
        font-family: $font-main;
      }

      // For food icon
      .tree-food-icon {
        width: 10px;
        height: 16px;
        margin-left: 8px;
        margin-right: 8px;
        margin-top: 2px;
        margin-bottom: 0;
      }
      .tree-food-name {
        vertical-align: top;
        font-size: $font-size-medium;
        font-weight: 700;
        font-family: $font-main;
      }

      &.is-selected {
        background-color: $select-option-selected-bg;
        color: $select-option-selected-color;
      }

      &.is-focused {
        background-color: $select-option-focused-bg;
        color: $select-option-focused-color;
      }

      &.is-disabled {
        color: $select-option-disabled-color;
        cursor: default;
      }
    }
  }
}

.brown-medium-single {
  > .Select {
    > .Select-control, .Select-input {
      height: 32px;
      .Select-placeholder {
        padding: 4px 6px;
        font-family: $font-main;
        font-size: $font-size-medium;
      }
    }

    > .Select-control {
      .Select-multi-value-wrapper {
        width: 100%;
        .Select-value {
          line-height: 24px;
          border-radius: 0;
          margin: 4px;
          background-color: $light;
          color: $brown;
          border-color: $brown;
          .Select-value-icon {
            border-color: $brown;

            &:hover {
              background-color: $brown-10;
              color: $brown;
            }
          }
          .Select-value-label {
            padding: 4px 6px;
            .tree-flag-name {
              vertical-align: bottom;
              font-size: $font-size-medium;
              font-weight: 400;
              color: $brown;
              font-family: $font-main;
            }
          }
        }
      }
    }

    &.is-disabled {
      .Select-value {
        background-color: $light !important;
      }
      .Select-arrow-zone {
        display: none !important;
      }
    }

    .Select-option {
      box-sizing: border-box;
      background-color: $select-option-bg;
      color: $select-option-color;
      cursor: pointer;
      display: block;
      padding: 4px 6px;
      height: 32px;

      .tree-flag-name {
        font-size: $font-size-medium;
        font-weight: 400;
        font-family: $font-main;
      }

      &.is-selected {
        background-color: $select-option-selected-bg;
        color: $select-option-selected-color;
      }

      &.is-focused {
        background-color: $select-option-focused-bg;
        color: $select-option-focused-color;
      }

      &.is-disabled {
        color: $select-option-disabled-color;
        cursor: default;
      }
    }
  }
}
