@media all {
  :local(.wrapper) {
    font-family: 'Open Sans', sans-serif;
    font-size: small;

    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  :local(.label) {
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 4px;
  }
  :local(.label:not(:first-child)) {
    padding-top: 8px;
  }
  :local(.value) {
    padding: 2px 0 2px 16px;
    cursor: pointer;
  }

  :local(.selected),
  :local(.selected .star),
  :local(.selected .date) {
    color: rgba(255, 255, 255, 1);
    font-size: small;
    font-weight: 700;
  }
  :local(.value:hover),
  :local(.value:hover .star),
  :local(.value:hover .date) {
    text-decoration: underline;
  }
  :local(.star) {
    font-weight: 700;
    font-size: x-small;
  }
  :local(.comment) {

  }
  :local(.date) {
    font-size: x-small;
    font-style: italic;
  }
  :local(.blankstar) {
    color: rgba(255, 255, 255, 0.25) !important;
  }
}

@media only screen and (orientation: portrait) {

}
