@import "./../scss/variables.scss";
@import "./../scss/mixin.scss";

@import "./trees.component.scss";

.tree-panel-wrapper {
  position: absolute;
  top: 0;
  height: 100%;
  transition: 0.25s;
  padding: $header-height 0 0 0;

  @include respond-to(handhelds) {
    right: -100%;
    width: 100%;
  }
  @include respond-to(wide-screens) {
    right: -30%;
    width: 30%;
  }

  > .left {
    position: absolute;
    top: $panel-control-width + $panel-control-width;
    left: -$panel-control-width;
    width: $panel-control-width;
  }

  > .right {
    width: 100%;
    height: 100%;
    background-color: $light;
    -webkit-box-shadow: 0px 0px 1px 1px $black-quarter;
    -moz-box-shadow: 0px 0px 1px 1px $black-quarter;
    box-shadow: 0px 0px 1px 1px $black-quarter;
    overflow-y: scroll;

  }
}

.slidein {
  right: 0;
  transition: 0.25s;
}
