.DS_store
node_modules

server/database.php
server/dbpass.php
server/config.php
server/mailconfig.php

dist/*

src/**/*.js
src/**/*.js.map
src/**/*.css.d.ts


content/images/*
content/maps/*
!content/images/blank.jpg
!content/maps/blank.jpg

serverconfig/~$errorlist.xlsx
npm-debug.log
npm-debug.log.*
