.DS_store
node_modules/*
!node_modules/react-bootstrap-datetimepicker
!node_modules/react-pinch-zoom-pan
!node_modules/font-awesome
!node_modules/leaflet
!node_modules/image-preloader-promise
!node_modules/react-select
!node_modules/react-image-gallery

server/database.php
server/dbpass.php
server/config.php
server/mailconfig.php

dist/*

src/**/*.js
src/**/*.js.map
src/**/*.css.d.ts


content/images/*
content/maps/*
!content/images/blank.jpg
!content/maps/blank.jpg

serverconfig/~$errorlist.xlsx
npm-debug.log
npm-debug.log.*
