node_modules/*
!node_modules/react-bootstrap-datetimepicker
!node_modules/react-pinch-zoom-pan
dist/FoodParent2.0/*
dist/dist/*
dist/foodparent.js
dist/foodparent.js.map
npm-debug.log
src/**/*.js
src/**/*.js.map
src/**/*.css.d.ts
npm-debug.log.*
server/database.php
server/dbpass.php
content/images/*
!content/images/blank.jpg
