@import "./../scss/variables.scss";
@import "./../scss/mixin.scss";

.parent-info-wrapper {
  padding: 8px;

  > .parent-info-title {
    font-size: $font-size-large;
    font-family: $font-main;
    font-weight: 700;
    color: $brown;
    padding: 8px;
  }
}

.parent-info-content {
  padding: 4px 8px;
  font-family: $font-main;
  color: $brown;
  font-size: $font-size-medium;

  > .parent-info-label {
    font-weight: 700;
    margin: 4px 0;
    .fa.fa-user {
      margin-left: 2px;
      margin-right: 6px;
    }
    .fa.fa-microphone {
      margin-left: 3px;
      margin-right: 7px;
    }
    .fa.fa-certificate {
      margin-left: 2px;
      margin-right: 4px;
    }
    .fa.fa-map-marker {
      margin-left: 2px;
      margin-right: 4px;
    }
  }

  > .parent-info-data {
    width: 100%;
    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;           /* TWEENER - IE 10 */
    display: -webkit-flex;          /* NEW - Chrome */
    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

    margin: 4px 0;

    > .parent-info-text {
      &:first-child {
        margin: 0 0 0 20px;
      }
    }

    > .parent-info-input {
      border-radius: 0;
      -webkit-flex-grow: 1;           /* NEW - Chrome */
              flex-grow: 1;           /* NEW, Spec - Opera 12.1, Firefox 20+ */
      padding: 3px 6px;
      width: 0;
      font-size: $font-size-medium-small;
      &:focus {
        outline: 2px solid $brown;
      }
      &:first-child {
        margin: 0 0 0 20px;
      }
    }
  }
}
