@import "./../scss/variables.scss";
@import "./../scss/mixin.scss";

.leaflet-bottom.leaflet-right {
  z-index: 0;
}

.marker-name {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
