@media all {
  :local(.wrapper) {
    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;           /* TWEENER - IE 10 */
    display: -webkit-flex;          /* NEW - Chrome */
    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 20px;
    transition: 0.25s;
    padding: 48px 0 0 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 8px 8px 8px 8px;
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, 1);
    z-index: 5000;
  }
  :local(.error) {
    background-color: rgba(93, 40, 49, 1);
  }
  :local(.message) {
    margin: auto;
  }

  :local(.wrapper) .fa {
    height: 16px;
    padding: 2px 4px;
  }
}

@media screen and (max-device-width: 667px) {

}

@media screen and (max-device-aspect-ratio: 1/1) {

}
