@import "./../scss/variables.scss";
@import "./../scss/mixin.scss";

.note-info-wrapper {
  margin: 4px 0;
  padding: 4px 8px;
  font-family: $font-main;
  font-size: $font-size-medium;

  &.note-info-grey {
    border: 2px solid $grey;
    color: $grey;
  }

  &.note-info-green {
    border: 2px solid $green;
    color: $green;
  }

  &.note-info-brown {
    border: 2px solid $brown;
    color: $brown;
  }
}
