@import "./../scss/variables.scss";
@import "./../scss/mixin.scss";

.note-proper-label {
  color: $white;
  font-weight: 700;
  font-size: $font-size-medium;
  padding: 4px 0;

  .fa.fa-hourglass-1 {
    margin-left: 4px;
    margin-right: 8px;
  }
}

.note-proper-data {
  padding-left: 18px;
}

.note-proper-data2 {
  padding-left: 24px;
}
