@import "./../scss/variables.scss";
@import "./../scss/mixin.scss";
.note-rate-wrapper{
  padding: 4px 8px;
  .note-rate-label {
    color: $brown;
    font-weight: 700;
    font-size: $font-size-medium;
    padding: 4px 0;
    .fa.fa-star-half-o {
      margin-left: 2px;
      margin-right: 4px;
    }
  }

  .note-rate-data {
    margin: 0 0 0 4px;
    &.active {
      margin: 0 0 0 18px;
    }
  }

}
