@import "./../scss/variables.scss";
@import "./../scss/mixin.scss";

.note-amount-wrapper {
  padding: 4px 8px;
  font-family: $font-main;
  color: $green;
  font-size: $font-size-medium;

  &.note-comment-brown {
    color: $brown;
  }

  > .note-amount-label {
    font-weight: 700;
    margin: 4px 0;
    .fa.fa-shopping-basket {
      margin-left: 1px;
      margin-right: 2px;
    }
  }

  > .note-amount-data {
    width: 100%;
    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;           /* TWEENER - IE 10 */
    display: -webkit-flex;          /* NEW - Chrome */
    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

    margin: 4px 0;

    > .note-amount-text {
      &:first-child {
        margin: 0 0 0 20px;
      }
    }

    > .note-amount-input {
      border-radius: 0;
      -webkit-flex-grow: 1;           /* NEW - Chrome */
              flex-grow: 1;           /* NEW, Spec - Opera 12.1, Firefox 20+ */
      padding: 6px 6px;
      width: 0;
      font-size: $font-size-medium;
      &:focus {
        outline: 2px solid $brown;
      }
      &:first-child {
        margin: 0 0 0 18px;
      }
    }

    .note-unit-select {
      width: 100px;
      margin-left: 8px;
    }
  }
}
