@import "./../scss/variables.scss";
@import "./../scss/mixin.scss";

.note-proper-label {
  color: $green;
  font-weight: 700;
  font-size: $font-size-medium;
  padding: 4px 0;

  .fa.fa-hourglass-1 {
    margin-left: 3px;
    margin-right: 5px;
  }
}

.note-proper-data {
  padding-left: 16px;
}

.note-proper-data2 {
  padding-left: 20px;
}
