@import "./../scss/variables.scss";
@import "./../scss/mixin.scss";

.donatefromtree-line-wrapper {
  padding: 4px 8px;
  font-family: $font-main;
  font-size: $font-size-medium;
  cursor: auto;
  font-weight: 400;
  color: $red;

  &.clickable {
    cursor: pointer;
    &:hover {
      @include respond-to(handhelds) {
        background-color: transparent;
        color: $red;
      }
      @include respond-to(wide-screens) {
        background-color: $red;
        color: $white;
      }
    }
    &:active, &.active {
      @include respond-to(handhelds) {
        background-color: $red;
        color: $white;
      }
      @include respond-to(wide-screens) {
        background-color: $red;
        color: $white;
      }
    }
  }

  .location-link {
    margin: 0 2px;
    padding: 1px 4px;
    background-color: $red;
    border-radius: 2px;
    color: $white;
    font-size: $font-size-medium-small;
  }

  .tag {
    font-size: $font-size-medium-small;
    border-radius: 2px;
    padding: 2px 4px;
    vertical-align: middle;
    font-weight: 400;
    &.tag-red {
      background-color: $red;
      color: $white;
    }
    &.tag-brown {
      background-color: $brown;
      color: $white;
    }
    &.tag-green {
      background-color: $green;
      color: $white;
    }
  }
}
