@import "./../scss/variables.scss";
@import "./../scss/mixin.scss";

.donate-graph-wrapper {
  margin-bottom: 8px;
  > .donate-graph-label {
    font-size: $font-size-medium;
    color: $brown;
    font-weight: 700;
    padding: 4px;
  }
}
