@media all {
  :local(.wrapper) {
    color: rgba(94, 78, 81, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: small;
  }
  :local(.icon) {
    width: 12px;
    height: 12px;
    margin: 0 2px 2px 2px;
  }

  :local(.label) {
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 4px;
  }
  :local(.label:not(:first-child)) {
    padding-top: 8px;
  }
  :local(.value) {
    width: 100%;
    padding: 0 0 0 16px;
  }

  :local(.button) {
    width: 100%;
    text-align: center;
    display: inline-block;
    background-color: rgba(107, 170, 119, 1);
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    padding: 6px 0;
    margin: 4px 0;
    border-radius: 2px;
    cursor: pointer;
      font-size: small;
  }
  :local(.button:hover) {
    color: rgba(94, 78, 81, 1);
  }

  :local(.wrapper) .Select-control {
    background-color: rgba(255, 255, 255, 0.25);
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 2px;
    border: 1px solid rgba(94, 78, 81, 0.25);
    color: rgba(94, 78, 81, 1);
    cursor: default;
    display: table;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  :local(.wrapper) .Select--multi .Select-value {
    background-color: rgba(244, 244, 244, 0.08);
    border-radius: 2px;
    border: 1px solid rgba(94, 78, 81, 0.75);
    color: rgba(94, 78, 81, 1);
    display: inline-block;
    font-size: 0.9em;
    line-height: 1.4;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;
    font-weight: 700;
  }
  :local(.wrapper) .Select--multi .Select-value-icon {
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid rgba(94, 78, 81, 0.75);
    padding: 1px 5px 3px;
  }
  :local(.wrapper) .Select--multi .Select-value-icon:hover,
  :local(.wrapper) .Select--multi .Select-value-icon:focus {
    background-color: rgba(94, 78, 81, 0.15);
    color: rgba(94, 78, 81, 1);
  }
  :local(.wrapper) .is-focused:not(.is-open) > .Select-control {
    border-color: rgba(94, 78, 81, 1);
    box-shadow: none;
  }
}

@media screen and (max-device-aspect-ratio: 1/1) {
  :local(.wrapper) .Select--multi:not(.is-disabled) .Select-value {
    width: 95%;
  }
}
