@media all {
  :local(.wrapper) {
    width: 100%;
    padding: 8px;
    color: rgba(94, 78, 81, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: small;
  }
  :local(.inner) {
    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;           /* TWEENER - IE 10 */
    display: -webkit-flex;          /* NEW - Chrome */
    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

    height: 60px;
    border-radius: 2px;
    font-weight: 700;
    font-size: x-large;
  }
  :local(.title) {
    -webkit-flex-grow: 1;           /* NEW - Chrome */
    flex-grow: 1;                   /* NEW, Spec - Opera 12.1, Firefox 20+ */
    padding: 12px 8px;
  }
  :local(.close) {
    font-size: xx-large;
    font-weight: 700;
    color: rgba(94, 78, 81, 1);
  }
  :local(.close span) {
    cursor: pointer;
  }

  :local(.button) {
    width: 100%;
    text-align: center;
    display: inline-block;
    background-color: rgba(107, 170, 119, 1);
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    padding: 6px 0;
    margin: 4px 0;
    cursor: pointer;
    font-size: small;
  }
  :local(.button:hover) {
    color: rgba(94, 78, 81, 1);
  }
  :local(.image) {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    border: 4px solid rgba(107, 170, 119, 0);
    border-radius: 2px;
    position: relative;
  }
  :local(.selected) {
    border: 4px solid rgba(107, 170, 119, 1);
    border-radius: 2px;
  }
  :local(.cover) {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(107, 170, 119, 0.5);
    color: rgba(255, 255, 255,1);
    padding: 0 4px;
    font-size: small;
    font-weight: 700;
  }
  :local(.image img) {
    width: 100%;
    cursor: pointer;
  }

  :local(.label) {
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 4px;
  }
  :local(.value) {
    display: block;
    padding: 0 0 0 8px;
    min-height: 22px;
    min-width: 80px;
  }
  :local(.success) {
    color: rgba(35, 79, 30, 1);
  }
  :local(.item) {
    padding: 4px;
    font-weight: 500;
  }
  :local(.highlight) {
    font-weight: 700;
  }
  :local(.inlinebutton) {
    cursor: pointer;
    font-weight: 700;
  }
  :local(.inlinebutton:hover) {
    text-decoration: underline;
  }
}

@media screen and (max-device-width: 736px) {

}

@media screen and (max-device-aspect-ratio: 1/1) {

}
