@media all {
  :local(.wrapper) {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
  }

  :local(.contactlabel) {
    font-weight: 700;
    padding: 8px 0 0 0;
  }
  :local(.contactname) {
    display: block;
    padding: 0;
    min-height: 22px;
    letter-spacing: 1px;
  }
  :local(.contactinput) {
    width: 100%;
    margin: 4px 0;
    padding: 6px 3px;
    border-radius: 2px;
    border: 1px solid rgba(94, 78, 81, 1);
  }
  :local(.buttongroup) {
    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;           /* TWEENER - IE 10 */
    display: -webkit-flex;          /* NEW - Chrome */
    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

    padding: 16px 0 4px 0;
    font-size: small;
  }
  :local(.button) {
    -webkit-flex-grow: 1;           /* NEW - Chrome */
    flex-grow: 1;                   /* NEW, Spec - Opera 12.1, Firefox 20+ */

    padding: 4px;
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 1);
    text-align: center;
    font-weight: 700;
    cursor: pointer;
  }
  :local(.button:hover) {
    border: 2px solid rgba(107, 170, 119, 1);
    color: rgba(107, 170, 119, 1);
  }
}
