@media all {
  :local(.wrapper) {
    position: fixed;
    top: 0;
    right: -30%;
    width: 30%;
    height: 100%;
    transition: 0.75s;
    padding: 56px 8px 8px 8px;
    background-color: rgba(244, 244, 244, 1);
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
    overflow-y: auto;
  }
  :local(.slidein) {
    right: 0;
    transition: 0.25s;
  }
  :local(.userinfo) {
    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;           /* TWEENER - IE 10 */
    display: -webkit-flex;          /* NEW - Chrome */
    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

    min-height: 60px;
    border-radius: 2px;
    padding: 0 0 8px 0;
  }
  :local(.userinfo .icon) {


    width: 32px;
    margin: 8px;
    color: rgba(94, 78, 81, 1);
    font-size: 235%;
  }
  :local(.userinfo .name) {
    -webkit-flex-grow: 1;           /* NEW - Chrome */
    flex-grow: 1;                   /* NEW, Spec - Opera 12.1, Firefox 20+ */



    font-size: x-large;
    font-weight: 700;
    color: rgba(94, 78, 81, 1);
    margin: auto;
    margin-right: 8px;
  }
  :local(.userinfo .close) {
    font-size: xx-large;
    font-weight: 700;
    color: rgba(94, 78, 81, 1);
  }
  :local(.userinfo .close span) {
    cursor: pointer;
  }
  :local(.basicinfo) {
    border-radius: 2px;
    background-color: rgba(94, 78, 81, 1);
    padding: 4px 12px 12px 12px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: small;
  }
  .span[name="close"] {
  }

  :local(.contactlabel) {
    font-weight: 700;
    padding-top: 8px;
  }
  :local(.contactname) {
    display: inline-block;
    padding: 2px 0 0 16px;
    min-height: 22px;
    min-width: 80px;
  }
  :local(.contactinput) {
    width: 100%;
    padding: 6px 3px;
    border-radius: 2px;
    margin: 2px;
    border: 1px solid rgba(94, 78, 81, 1);
  }

  :local(.buttongroup) {
    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;           /* TWEENER - IE 10 */
    display: -webkit-flex;          /* NEW - Chrome */
    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

    padding: 16px 0 4px 0;
    font-size: small;
  }
  :local(.button) {
    -webkit-flex-grow: 1;           /* NEW - Chrome */
    flex-grow: 1;                   /* NEW, Spec - Opera 12.1, Firefox 20+ */

    padding: 4px;
    border-radius: 2px;
    border: 2px solid rgba(94, 78, 81, 1);
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    color: rgba(94, 78, 81, 1);
  }
  :local(.button:hover) {
    border: 2px solid rgba(107, 170, 119, 1);
    color: rgba(107, 170, 119, 1);
  }

}

@media screen and (max-device-width: 667px) {
  :local(.wrapper) {
    right: -50%;
    width: 50%;
  }
  :local(.slidein) {
    right: 0;
    transition: 0.25s;
  }
}

@media screen and (max-device-aspect-ratio: 1/1) {
  :local(.wrapper) {
    position: fixed;
    right: -100%;
    width: 100%;
    opacity: 0.95;
    padding-bottom: 120px;
  }
  :local(.slidein) {
    right: 0;
    transition: 0.25s;
  }
}
