@import "./../scss/variables.scss";
@import "./../scss/mixin.scss";

.account-wrapper {
  color: $brown;
  font-family: $font-main;

  @include respond-to(handhelds) {
    display: block;
  }
  @include respond-to(wide-screens) {
    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;           /* TWEENER - IE 10 */
    display: -webkit-flex;          /* NEW - Chrome */
    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-flex-direction: row-reverse;    /* Safari 6.1+ */
            flex-direction: row-reverse;    /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: $header-height;
  overflow-y: scroll;
  // -webkit-overflow-scrolling: touch;
  background-color: $light;

  > .right {
    @include respond-to(handhelds) {
      width: 100%;
    }
    @include respond-to(wide-screens) {
      width: 30%;
    }

    > .menu {
      -webkit-flex: 0 0 auto; /* Safari 6.1+ */
          -ms-flex: 0 0 auto; /* IE 10 */
              flex: 0 0 auto;

      display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;           /* TWEENER - IE 10 */
      display: -webkit-flex;          /* NEW - Chrome */
      display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

      -webkit-flex-direction: row;    /* Safari 6.1+ */
              flex-direction: row;    /* NEW, Spec - Opera 12.1, Firefox 20+ */

      -webkit-justify-content: space-between; /* Safari 6.1+ */
              justify-content: space-between;
      font-size: $font-size-large;
      color: $brown;

      > .icon-group {
        text-align: left;
        cursor: pointer;
        padding: 8px 4px;
        display: inline-block;
        white-space:nowrap;
        &:first-child {
          padding-left: 12px;
        }
        &:not(.close) {
          -webkit-flex-grow: 1;
                  flex-grow: 1;
        }
        &.close {
          padding: 7px 8px 4px 12px;
        }

        &.active {
          color: $brown;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          cursor: default;
        }

        > .icon-text {
          display: inline-block;
          font-family: $font-narrow;
          font-size: $font-size-small;
          margin: 0 4px 0 8px;
          font-weight: 700;
          vertical-align: top;
          text-transform: uppercase;
          overflow:hidden;

          &.visible {
            width: auto;
          }
        }
        // &:hover .icon-text {
        //   display: inline-block;
        //   width: auto;
        // }
      }

      > .wide-landscape {
        @include respond-to(handhelds) {
          display: none;
        }
      }
    }
  }

  > .left {
    -webkit-flex-grow: 1;
            flex-grow: 1;
  }

  .or {
    padding: 0 0 8px 0;
    font-weight: 700;
    text-align: center;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
}
