@media all {
  :local(.wrapper) {
    color: rgba(94, 78, 81, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: small;
  }
  :local(.label) {
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 4px;
  }
  :local(.value) {
    display: inline-block;
    padding: 0 0 0 16px;
    min-height: 22px;
    min-width: 80px;
  }
  :local(.label:not(:first-child)) {
    padding-top: 8px;
  }
  :local(.edit) {
    display: block;
    padding: 0 0 0 8px;
    min-height: 22px;
    letter-spacing: 1px;
  }
  :local(.input) {
    width: 100%;
    padding: 6px 6px;
    border-radius: 2px;
    border: 1px solid rgba(204, 204, 204, 1);
    color: rgba(0, 0, 0, 1);
  }
  :local(.input:focus) {
    outline: none;
    border: 1px solid rgba(94, 78, 81, 1);
  }
  :local(.error) {
    color: rgba(145, 13, 9, 1);
  }
}
