@media all {
  :local(.wrapper) {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
  }
  :local(.label) {
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 4px;
  }
  :local(.label:not(:first-child)) {
    padding-top: 8px;
  }
  :local(.value) {
    padding: 2px 0 2px 16px;
    cursor: pointer;
  }

  :local(.selected),
  :local(.selected .tree),
  :local(.selected .amount),
  :local(.selected .date) {
    color: rgba(255, 255, 255, 1);
    font-size: small;
    font-weight: 700;
  }
  :local(.value:hover .tree),
  :local(.value:hover .tree2),
  :local(.value:hover .amount),
  :local(.value:hover .date),
  :local(.value:hover .comment) {
    text-decoration: underline;
  }
  :local(.value .tree:hover) {
    color: rgba(107, 170, 119, 1);
  }
  :local(.tree) {
    display: inline-block;
    padding: 0 1px;
    cursor: pointer;
  }
  :local(.tree2) {
    display: inline-block;
    padding: 0 1px;
  }
  :local(.amount) {

  }
  :local(.comment) {

  }
  :local(.date) {
    font-size: x-small;
    font-style: italic;
  }
  :local(.blankstar) {
    color: rgba(255, 255, 255, 0.25) !important;
  }
}

@media only screen and (orientation: portrait) {

}
