@media all {
  :local(.wrapper) {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
  }
  :local(.name) {
    display: inline-block;
    padding: 0 0 0 16px;
    min-height: 22px;
    min-width: 80px;
  }
  :local(.label) {
    font-weight: 700;
    padding-top: 8px;
  }
  :local(.label:not(:first-child)) {
    padding-top: 8px;
  }
  :local(.editname) {
    display: block;
    padding: 0 0 0 16px;
    min-height: 22px;
    letter-spacing: 1px;
  }
  :local(.edit) {
    width: 100%;
    padding: 6px 3px;
    border-radius: 2px;
    border: 1px solid rgba(94, 78, 81, 1);
  }
  :local(.edit:focus) {
    outline: none;
  }
}
