@media all {
  :local(.error) {
    color: rgba(145, 13, 9, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: small;
  }
  :local(.success) {
    color: rgba(35, 79, 30, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: small;
  }
  :local(.waiting) {
    color: rgba(34, 32, 35, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: small;
  }
}
