@import "./../scss/variables.scss";
@import "./../scss/mixin.scss";

.popup-wrapper {
  display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;           /* TWEENER - IE 10 */
  display: -webkit-flex;          /* NEW - Chrome */
  display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

  position: absolute;
  // @include respond-to(handhelds) {
  //   position: absolute;
  // }
  // @include respond-to(wide-screens) {
  //   position: absolute;
  // }


  bottom: -2px;
  left: 0;
  width: 100%;
  transition: 0.15s;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  color: $white;
  padding: 0 8px 0 8px;
  text-align: center;
  border-top: 2px solid $white;
  pointer-events: all;
  font-family: $font-narrow;

  height: 0;
  z-index: 9995;

  &.open {
    height: 56px;
    // padding: 8px 8px 8px 8px;
    transition: 0.15s;
  }

  > .popup-message {
    margin: auto;
    line-height: 1.5;
    > .popup-button {
      font-weight: 700;
      border-radius: 2px;
      border: 2px solid $white-75;
      padding: 2px 6px;
      margin: 2px 2px 2px 6px;
      cursor: pointer;
    }
  }

  &.popup-green {
    background-color: $green;
    > .popup-message {
      > .popup-button {
        &:hover {
          background-color: $white;
          color: $green;
        }
      }
    }
  }

  &.popup-red {
    background-color: $red;
    > .popup-message {
      > .popup-button {
        &:hover {
          background-color: $white;
          color: $red;
        }
      }
    }
  }
}
