@import "./../scss/variables.scss";
@import "./../scss/mixin.scss";

.screenshot-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  pointer-events: none;
}
