@import "./../scss/variables.scss";
@import "./../scss/mixin.scss";

.tree-flag-wrapper {
  padding: 4px 8px;

  &.disabled {
    .Select-control {
    	&:hover {
    		border-color: transparent;
    	}
    }
  }

  border-radius: 2px;

  > .tree-flag-label {
    color: $brown;
    font-weight: 700;
    margin: 4px 0;
    .fa.fa-tag {
      margin-left: 2px;
      margin-right: 3px;
    }
  }

  > .tree-flag-data {
    margin: 0 0 0 8px;
    &.active {
      margin: 0 0 0 20px;
    }
  }
}
