@import "./../scss/variables.scss";
@import "./../scss/mixin.scss";

.tree-recent-donate-wrapper {
  padding: 4px 16px;
  font-family: $font-main;
  color: $brown;
  font-size: $font-size-medium;

  > .tree-recent-donate-label {
    font-weight: 700;
    margin: 4px 0;
    .fa.fa-shopping-bag {
      margin-left: 1px;
      margin-right: 4px;
    }
  }

  > .tree-recent-donate-data {
    width: 100%;
    > .tree-recent-donate-text {
      margin: 0 0 0 12px;
      > .tree-recent-donate-text-sub {
        margin: 4px 0 4px 8px;
      }
    }
  }
}
