@import "./../scss/variables.scss";
@import "./../scss/mixin.scss";

.tree-ownership-wrapper {
  padding: 4px 8px;

  &.disabled {
    .Select-control {
    	&:hover {
    		border-color: transparent;
    	}
    }
  }

  border-radius: 2px;

  > .tree-ownership-label {
    color: $brown;
    font-weight: 700;
    margin: 4px 0;
    .fa.fa-home {
      margin-left: 2px;
      margin-right: 3px;
    }
  }

  > .tree-ownership-data {
    margin: 0 0 0 8px;
  }
}
