@import url('//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic');
@import url('//fonts.googleapis.com/css?family=Open+Sans:300,700,300italic');
@media all {
  * {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  html {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  body {
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: medium;
    overflow: hidden;
  }
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
  }
  .hidden {
    display: none;
  }
  .hide {
    opacity : 0;
    transition: opacity 1.3s;
  }
  :local(#app), #app {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  /* Leafet global style */
  .leaflet-container {
    height: 100%;
  }
  .leaflet-control,
  .leaflet-top, .leaflet-bottom {
    z-index: 0 !important;
  }

  /* Leaflet markers styles */
  .leaflet-icon-hidden {
    -webkit-filter: blur(2px) !important; /* Chrome, Safari, Opera */
    filter: blur(2px) !important;
  }
  .leaflet-icon-dead {
    -webkit-filter: opacity(30%) drop-shadow(1px 1px 1px black) !important; /* Chrome, Safari, Opera */
    filter: opacity(30%) drop-shadow(1px 1px 1px black) !important;
  }

  /* Scroll bar style */
  ::-webkit-scrollbar {
    width: 4px;
  }
  /* Track */
  ::-webkit-scrollbar-track {

  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(187,168,164,0.3);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(187,168,164,0.1);
  }
}
