@media all {
  :local(.wrapper) {
    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;           /* TWEENER - IE 10 */
    display: -webkit-flex;          /* NEW - Chrome */
    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-flex-grow: 1;           /* NEW - Chrome */
    flex-grow: 1;                   /* NEW, Spec - Opera 12.1, Firefox 20+ */

    border-radius: 2px;
  }
  :local(.icon) {
    width: 36px;
    height: 36px;
    margin: 8px;
  }
  :local(.name) {
    -webkit-flex-grow: 1;           /* NEW - Chrome */
    flex-grow: 1;                   /* NEW, Spec - Opera 12.1, Firefox 20+ */

    font-size: x-large;
    font-weight: 700;
    color: rgba(94, 78, 81, 1);
    margin: auto;
    margin-right: 8px;
    cursor: pointer;
  }

  :local(.wrapper) .Select-control {
    border-color: rgba(244, 244, 244, 1);
    border-radius: 2px;
    border: 1px solid rgba(244, 244, 244, 1);
    color: rgba(94, 78, 81, 1);
    background-color: rgba(244, 244, 244, 1);
    cursor: default;
    display: table;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    cursor: pointer;
  }
  :local(.wrapper) .Select-placeholder, :not(.Select--multi) > .Select-control .Select-value {
    bottom: 0;
    color: rgba(94, 78, 81, 1);
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  :local(.wrapper) .Select--multi .Select-value {
    background-color: rgba(94, 78, 81, 1);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    font-size: small;
    line-height: 1.4;
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;
    outline: none;
  }
  :local(.wrapper) .is-searchable.is-open > .Select-control {
    cursor: text;
  }
  :local(.wrapper) .is-open > .Select-control {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: rgba(255, 255, 255, 1);
    border-color: #b3b3b3 #ccc #d9d9d9;
  }
  :local(.wrapper) .is-open > .Select-control > .Select-arrow {
    border-color: transparent transparent rgba(94, 78, 81, 1);
    border-width: 0 5px 5px;
  }
  :local(.wrapper) .is-searchable.is-focused:not(.is-open) > .Select-control {
    cursor: text;
  }
  :local(.wrapper) .is-focused:not(.is-open) > .Select-control {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
  }
  :local(.wrapper) .Select--multi .Select-value-icon {
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding: 3px 8px 3px 10px;
    font-weight: 700;
    font-size: medium;
  }
  :local(.wrapper) .Select-clear-zone {
    -webkit-animation: Select-animation-fadeIn 200ms;
    -o-animation: Select-animation-fadeIn 200ms;
    animation: Select-animation-fadeIn 200ms;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 17px;
    font-weight: 700;
    display: none;
  }
  :local(.wrapper) .Select-arrow {
    border-color: rgba(94, 78, 81, 1) transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block;
    height: 0;
    width: 0;
  }
  :local(.wrapper) .Select-arrow-zone:hover > .Select-arrow {
    border-top-color: rgba(94, 78, 81, 1);
  }
  :local(.wrapper) .is-open .Select-arrow,
  :local(.wrapper) .Select-arrow-zone:hover > .Select-arrow {
    border-top-color: rgba(94, 78, 81, 1);
  }
  :local(.wrapper) .Select--multi .Select-value-icon:hover,
  :local(.wrapper) .Select--multi .Select-value-icon:focus {
    background-color: rgba(94, 78, 81, 1);
    color: #D0021B;
  }
  :local(.wrapper) .is-focused:not(.is-open) > .Select-control {
    border-color: rgba(255, 255, 255, 1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
  }
  :local(.wrapper) .Select--multi .Select-value {
    background-color: rgba(94, 78, 81, 1);
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    font-size: small;
    line-height: 1.4;
    margin: 4px;
    vertical-align: top;
    outline: none;
  }
  :local(.wrapper) .Select-option.is-focused {
    background-color: rgba(255, 255, 255, 0.08);
    color: #333;
  }
  :local(.wrapper) .has-value:not(.Select--multi) > .Select-control > .Select-value .Select-value-label, .has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value .Select-value-label {
    color: rgba(94, 78, 81, 1);
  }
  :local(.wrapper) .Select-input {
    display: none !important;
  }
  :local(.wrapper) .Select.is-disabled > .Select-control {
    background-color: rgba(244, 244, 244, 1);
  }
  :local(.wrapper) .Select.is-disabled .Select-arrow-zone {
    display: none;
  }
}


@media screen and (max-device-width: 667px) {

}

@media screen and (max-device-aspect-ratio: 1/1) {
  :local(.wrapper) .Select--multi .Select-value {
    width: 95%;
  }
}
