@media all {
  :local(.wrapper) {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
  }
  :local(.location) {
    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;           /* TWEENER - IE 10 */
    display: -webkit-flex;          /* NEW - Chrome */
    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }
  :local(.name) {
    padding: 0 0 0 16px;
    min-height: 22px;
    min-width: 80px;
    margin: auto 0;
  }
  :local(.comma) {
    margin: auto 0;
  }
  :local(.label) {
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 4px;
  }
  :local(.label:not(:first-child)) {
    padding-top: 8px;
  }
  :local(.edit) {
    -webkit-flex-grow: 1;           /* NEW - Chrome */
    flex-grow: 1;                   /* NEW, Spec - Opera 12.1, Firefox 20+ */
    padding: 6px 3px;
    border-radius: 2px;
    border: 1px solid rgba(94, 78, 81, 1);
  }
  :local(.edit:focus) {
    outline: none;
  }
}

@media only screen and (orientation: portrait) {

}
