@media all {
  :local(.wrapper) {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: small;
    padding: 8px 8px 8px 8px;
    color: rgba(94, 78, 81, 1);
    background-color: rgba(255, 255, 255, 1);
  }
  :local(.canvas) {

  }
  :local(.tooltip) {
    position: absolute;
    margin: 8px;
    border: 2px solid rgba(64, 54, 56, 1);
    background-color: rgba(94, 78, 81, 1);
    padding: 2px 4px 4px 10px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    border-radius: 2px;
  }
  :local(.button) {
    cursor: pointer;
  }
  :local(.button:hover) {
    color: rgba(107, 170, 119, 1);
  }
  :local(.unclicked) {
    pointer-events: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border: 2px solid rgba(64, 54, 56, 0.75);
    background-color: rgba(94, 78, 81, 0.75);
  }
  :local(.hidden) {
    display: none;
  }
  :local(.image) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    margin: 4px 0;
  }
  :local(.highlight) {
    font-weight: 700;
  }
  :local(.comment) {
    width: 100%;
    font-weight: 700;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :local(.wrapper) .scatter-legend {
    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;           /* TWEENER - IE 10 */
    display: -webkit-flex;          /* NEW - Chrome */
    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-justify-content: space-around; /* Safari 6.1+ */
    justify-content: space-around;
  }
  :local(.wrapper .graphzoom)  {
    text-align: right;
    font-weight: 700;
    padding: 4px 8px;
  }
  :local(.wrapper) .scatter-legend span {
    margin: 4px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
  }
  :local(.wrapper) .scatter-legend .scatter-legend-marker {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0px;
  }
}


@media screen and (max-device-width: 667px) {

}

@media screen and (max-device-aspect-ratio: 1/1) {

}
