@media all {
  :local(.wrapper) {
    display: -webkit-box;           /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;              /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;           /* TWEENER - IE 10 */
    display: -webkit-flex;          /* NEW - Chrome */
    display: flex;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

    position: absolute;
    bottom: -56px;
    left: 0;
    width: 100%;
    min-height: 56px;
    transition: 0.25s;
    padding: 48px 0 0 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: rgba(107, 170, 119, 1);
    padding: 8px 8px 8px 8px;
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, 1);
    z-index: 5000;
  }
  :local(.error) {
    background-color: rgba(93, 40, 49, 1);
  }
  :local(.slidein) {
    bottom: 0;
    transition: 0.25s;
  }
  :local(.message) {
    margin: auto;
  }
  :local(.button) {
    font-weight: 700;
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.85);
    padding: 2px 6px;
    margin: 2px 2px 2px 6px;
    cursor: pointer;
  }
  :local(.button:hover) {
    color: rgba(94, 78, 81, 1);
    border: 2px solid rgba(94, 78, 81, 1);
  }
  :local(.button2) {
    font-weight: 700;
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.85);
    padding: 2px 6px;
    margin: 2px 2px 2px 6px;
    cursor: pointer;
  }
  :local(.button2:hover) {
    color: rgba(107, 170, 119, 1);
    border: 2px solid rgba(107, 170, 119, 1);
  }
}

@media screen and (max-device-width: 667px) {

}

@media screen and (max-device-aspect-ratio: 1/1) {

}
